<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'nonce-${nonce}';">
</head>

<body class="dragscroll" style="
    margin: 0;
    padding: 0; 
    text-align: center; 
    background-color: #fff; 
    cursor:move;
">
    <div style="margin: 10px;">
        <img id="image" src="${image}">
    </div>
    <!--<p id="debug"></p>-->
    <script nonce="${nonce}" src="${jsPath}/zoom.js"></script>
    <script nonce="${nonce}" src="${jsPath}/dragscroll.js"></script>
</body>

</html>