<html>

<head>
    <meta charset="UTF-8">
</head>

<body style="text-align: center; background-color: #fff;">
    <div style="margin:1em 1em 0 1em;">
        <img style="max-width: 3em;" src="${icon}" alt="${processingTip}">
        <br/>
        <span style="font-size: large;color: #333;">${processingTip}</span>
    </div>
    <div id="instantview" style="margin:1em 1em 0 1em;">
        <hr style="background-color: grey; ">
        <img style="margin:1em; max-width: 100%;" src="${image}" alt="Instant View ">
    </div>
</body>

</html>