<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="${tmplPath}/css/preview.css">
    <script>
        window.addEventListener("load", () => document.getElementsByTagName("html")[0].style.height = "100%");
    </script>
</head>

<body class="full-height">
    <div class="full-height">
        <div id="spinner-container">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div>
                <span>${processingTip}</span>
            </div>
        </div>
        <div id="image-container" class="full-height">
            <img id="image" src="${image}" alt=" Instant Preview">
        </div>
    </div>
</body>

</html>