<html>
<body style="padding: 1em; text-align: center; background-color: #fff;">
    <div style="bottom:0;
                padding: 1em;
                opacity: .8;
                background-color:black;
                border-radius: 5px;
                text-align: left;">
        <p style="
                display: block;
                outline: red 1px solid;
                font-weight: bold;
                color: red;
                padding: 0.2em 0.5em 0.2em 0.5em;">
            ${error}</p>
        <img src="${imageError}" style="max-width: 100%;">
    </div>
    <img src="${image}" alt="" style="max-width: 100%;">
</body>

</html>