<html>

<head>
    <link rel="stylesheet" href="css/preview.css">
    <script src="js/dragscroll.js"></script>
    <script src="js/hyperlink.js"></script>
    <script src="js/switcher.js"></script>
    <script src="js/zoom.js"></script>
    <script src="js/imageMapResizer.js"></script>
    <script src="js/preview.js"></script>
    <script src="js/cursor.js"></script>
    <script src="js/selectionZoom.js"></script>
    <script src="js/clickEvent.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/tip.js"></script>
</head>

<body>
    <div id="snap-indicator-container">
        <p>
            <i class="material-icons snap-indicator snap-indicator-top" title="${localize(37, null)}"
                style="transform:rotate(180deg);">vertical_align_bottom</i>
            <i class="material-icons snap-indicator snap-indicator-left" title="${localize(38, null)}"
                style="transform:rotate(90deg);">vertical_align_bottom</i>
            <i class="material-icons snap-indicator snap-indicator-bottom"
                title="${localize(35, null)}">vertical_align_bottom</i>
            <i class="material-icons snap-indicator snap-indicator-right" title="${localize(36, null)}"
                style="transform:rotate(-90deg);">vertical_align_bottom</i>
        </p>
    </div>
    <div id="tip-container" class="fixed-center">
        <p id="tip"></p>
    </div>
    <div id="spinner-container">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div>
            <span>${localize(9, null)}</span>
        </div>
    </div>
    <div id="image-container" style="margin: 10px;">
        <img id="image" src="" draggable="false" usemap="#image-map">
        <map id="image-map" name="image-map" data=""></map>
    </div>
    <div id="ctrl-container">
        <div id="controls">
            <button class="btn" id="btnZoomOut">
                <i class="material-icons">zoom_out</i>
            </button>
            <button class="btn" id="btnZoomToggle">
                <i id="icon-toggle" class="material-icons">fullscreen</i>
                <!-- <i class="material-icons">fullscreen_exit</i> -->
            </button>
            <button class="btn" id="btnZoomIn">
                <i class="material-icons">zoom_in</i>
            </button>
            <button class="btn" id="btnCopy" 
                data-label-copying="${localize(55, null)}" 
                data-label-ok="${localize(56, null)}"
                data-label-fail="${localize(57, null)}">
                <i class="material-icons">content_copy</i>
            </button>
            <button class="btn" id="btnHelp">
                <i class="material-icons">help</i>
            </button>
            <div id="page-ctrls">
                <button class="btn" id="btnPrev">
                    <i class="material-icons">skip_previous</i>
                </button>
                <button class="btn" id="btnNext">
                    <i class="material-icons">skip_next</i>
                </button>
                <span id="pageInfo">${localize(20, null)}</span>
            </div>
        </div>
    </div>
    <div id="error-warning">
        <i class="material-icons">error</i>
        <div id="errmsg">
            <p id="errtxt">${error}</p>
            <img id="image-error" src="${imageError}" style="max-width: 100%;">
        </div>
    </div>
    <div id="modal-help" class="modal">
        <div class="modal-content">
            <span class="close material-icons">close</span>
            <h2>${localize(39, null)}</h2>
            <p>${localize(40, null)}:
                <ul>
                    <li>${localize(41, null)}</li>
                    <li>${localize(42, null)}</li>
                    <li>${localize(43, null)}</li>
                    <li>${localize(44, null)}</li>
                    <li>${localize(45, null)}</li>
                    <li>${localize(46, null)}</li>
                </ul>
            </p>
            <p>${localize(47, null)}:
                <ul>
                    <li>${localize(48, null)}</li>
                    <li>${localize(49, null)}</li>
                    <li>${localize(50, null)}</li>
                </ul>
            </p>
            <p>${localize(51, null)}:
                <ul>
                    <li>${localize(52, null)}</li>
                </ul>
            </p>
        </div>
    </div>
    <div style="display:none;">
        <div id="images">
            ${images}
        </div>
        <p id="status">${status}</p>
        <a id="sendStatus" href=""></a>
        <p id="settings">${settings}</p>
    </div>
</body>

</html>